.Backdrop {
    width: 100vw;
    height: fit-content;
    display: flex;
    background-color: #FFFBF7; 
}

.UserAvatar {
    width: 25vw;
    height: 25vw;
    border-radius: 1vw;
    background: #FFD186;
    margin: 6.3vw;
    margin-top: 8vw;
    display: flex;
    flex-direction: column;
}

.UserName {
    margin-top: 6.3vw;
    display: flex;
    flex-direction: column;
    font-family: "Corben";
    font-size: 3.9vw;
    font-weight: bold;
    color: #227C9D;
    letter-spacing: 0.06vw;
    padding-bottom: 2.9vw;
}

.AboutUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
    padding-right: 6.3vw;
    padding-bottom: 6.3vw;
    font-family: "Roboto";
    font-size: 3.4vw;
    color: #46464F;
    letter-spacing: 0.06vw;
}