.Backdrop {
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    background-color: #FFFDFA; 
}

.UserAvatar {
    width: 25vw;
    height: 25vw;
    border-radius: 1vw;
    background: #FFD186;
    margin-left: 6.3vw;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.UserName {
    font-family: "Roboto";
    font-size: 3.9vw;
    font-weight: bold;
    letter-spacing: 0.06vw;
    color: #1D1C16;
    margin-top: 6.3vw;
    display: flex;
    flex-direction: column;
    margin-left: 6.3vw;

}

.AboutUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
    padding-right: 6.3vw;
    padding-bottom: 6.3vw;
    font-family: "Roboto";
    font-size: 3.4vw;
    color: #46464F;
    letter-spacing: 0.06vw;
    margin-left: 6.3vw;
    margin-top: 2.9vw;
}