.Date {
    width: 100vw;
    height: 10vw;
    font-size: 3.4vw;
    font-family: "Roboto";
    letter-spacing: 0.06vw;
    color: #46464F;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.Chat {
    width: 100vw;
    height: 30vw;
    background: #FFFDFA;
    display: flex;
    flex-direction: column;
}

.Prompt {
    height: fit-content;
    width: fit-content;
    border-radius: 7vw;
    background-color: #EBF6FB;
    padding: 3vw;
    color: #46464F;
    position: relative;
    z-index: 2;
    margin-left: 4vw;
}

