/* add dots between missed days */

.Container {
    width: 100vw;
    height: fit-content;
    background-color: #EBF6FB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5.8vw;
}

.JournalHeader {
    width: 87vw;
    height: 12vw;
    background-color: #227C9D;
    color: #FFFDFA;
    position: absolute;
    display: flex;
    border-radius: 2.9vw 2.9vw 0 0;
    flex-direction: row;
    justify-content: center;
    font-family: "Corben";
    font-size: 3.9vw;
    font-weight: bold;
    letter-spacing: 0.06vw;
    line-height: 11.5vw;
    z-index: 3;
    /* margin-top: 6.6vw; */
}

.Journal { 
    width: 87vw;
    height: 61vw;
    position: relative;
    background-color: #FFFDFA;
    border-radius: 2.9vw;
    display: flex;
    flex-direction: row;
    /* margin-top: 6.3vw; */
    /* border: .4vw solid #227C9D; */
    filter: drop-shadow(0vw 1vw 2vw rgba(34, 124, 157, .15));
    filter: drop-shadow(0vw .24vw .73vw rgba(34, 124, 157, .30));
    flex-wrap: nowrap;
    overflow-x: auto;
}

.Entries {
    width: 77vw;
    height: fit-content;
    display: grid;    
    margin-top: 15.4vw;
}

.Entry {
    width: 80vw;
    height: 24vw;
    margin-bottom: 2vw;
    border: .3vw solid #999898;
    border-radius: 2.9vw;
    margin-left: 3vw;
    position: relative;
    display: grid;
    background-color: #FFFDFA;

}

.Calendar {
    height: 8vw;
    width: 16vw;
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
}

.Day {   
    height: 8vw;
    width: 14vw;
    font-family: "Roboto";
    background: #EBF6FB;
    font-size: 3.9vw;
    font-weight: bold;
    letter-spacing: 0.06vw;
    line-height: 8vw;
    color: #227C9D;
    letter-spacing: 0.06vw;
    display: grid;
    justify-content: center;
    border-right: .3vw solid #999898;
    border-bottom: .3vw solid #999898;
    border-radius: 2.6vw 0 0 0;
    /* margin-top: -.1vw;
    margin-left: -.1vw; */
}

.Number {
    width: 14vw;
    height: 16vw;
    line-height: 16vw;
    font-family: "Roboto";
    font-size: 6vw;
    font-weight: bold;
    letter-spacing: 0.06vw;
    color: #227C9D;
    display: grid;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-right: .3vw solid #999898;
    /* margin-top: -.1vw; */
    /* margin-left: -.1vw; */
}

.Tags {
    height: 8vw;
    width: 61vw;
    font-family: "Roboto";
    font-size: 3.9vw;
    font-weight: bold;
    color: #227C9D;
    letter-spacing: 0.06vw;
    line-height: 8vw;
    display: grid;
    grid-area: 1 / 2 / 1 / 2; 
}

.Tag {
    margin-left: 2vw;
    display: flex;
    flex: row;
    justify-content: flex-start;
}

.Time {
    grid-area: 1 / 2 / 2 / 3; 
    font-family: "Roboto";
    font-size: 3.4vw;
    font-weight: 400;
    color: #1D1C16;
    letter-spacing: 0.06vw;
    display: flex;
    flex: row;
    justify-content: flex-end;
    margin-right: 2vw;
}

.Content {
    grid-area: 2 / 3 / 2 / 2;
    position: relative; 
    display: flex;
    font-family: "Roboto";
    font-size: 3.4vw;
    color: #46464F;
    letter-spacing: 0.06vw;
    margin-left: 2vw;
    margin-right: 2vw;
    /* overflow: hidden;
    flex-wrap: nowrap; */
}