.Backdrop {
    width: 100vw;
    height: 63vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFDFA; 
}

.Container {
    width: 94vw;
    /* height: 24vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.9vw;
    padding-right: 2.9vw;
}

.Backdrop::-webkit-scrollbar {
    display: none;
}

.Logs {
    width: 100vw;
    height: 24vw;
    padding-top: 3.6vw;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

/* .Log {
    width: 24vw;
    height: 50vw;
    background-color: #EBF6FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .IconLrg {
    display: inline-flex;
    position: relative;
    padding-bottom: 6vw;
    justify-content: center;
} */


.Header {
    font-size: 3.8vw;
    font-family: "Roboto";
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 0.06vw;
    color: #227C9D;
    margin-top: 2vw;
}

/* .Logs {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

} */